// 変数宣言
$title_font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

// 初期化設定
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Noto serif JP";
}

li {
    list-style: none;
}


// 共通レイアウト設定
.container {
    padding: 8% 10%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
}

.title {
    font-family: $title_font;
    font-weight: lighter;
    font-size: 68px;
    color: #fff;
}

.pentagon-left {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 50%;
    background: linear-gradient(to right, #4b00bd 0%, #6c98ff 100%);
    clip-path: polygon(0 0, 40% 0, 100% 100%, 0% 100%);
}

.pentagon-right {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, #e629ff24 0%, #6fc8ff 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 65% 100%);
}

#name-view {
    width: 100%;
    height: calc(var(--vh, 1vh) * 100);
    background-color: #28003a;
    #particles-js {
        position: fixed;
        width: 100%;
        height: 100%;
        .container {
            position: absolute;
            top: 0;
            left: 0;
            h1 {
                color: #fff;
                font-size: 160px;
                font-family: $title_font;
            }
            h2 {
                color: #fff;
                font-family: $title_font;
                font-size: 120px;
            }
        }   
    }
}

#about {
    background-color: #061a26;
    width: 100%;
    min-height: 700px;
    position: relative;
    .container {
        display: flex;
        justify-content: space-between;
        //このwrapperはtitleクラスとcontentsクラス2つ含んでいる。
        .wrapper {
            width: 60%;
            .contents {
                margin-left: 10%;
                h2 {
                    font-weight: lighter;
                    font-size: 36px;
                    color: #fff;
                    line-height: 80px;
                }
                h3 {
                    line-height: 60px;
                    font-size: 36px;
                    color: #fff;
                    font-weight: lighter;
                }
                .text {
                    margin-top: 24px;
                    color: #fff;
                    font-size: 24px;
                    line-height: 48px;
                    opacity: .9;
                }
            }
        }
    }
}

#statement {
    background-color: #e3f5ff;
    width: 100%;
    height: 700px;
    position: relative;
    .container {
        .title {
            color: #061a26;
        }
        .wrapper {
            margin-left: 6%;
            .sub-title {
                margin-top: 2%;
                font-size: 48px;
                font-family: $title_font;
                line-height: 60px;
                color: #061a26;
                opacity: .9;
            }
            .text {
                margin-top: 30px;
                color: #061a26;
                font-size: 24px;
                line-height: 48px;
                opacity: .9;
            }
        }
    }
}

#skill {
    background-color: #061a26;
    width: 100%;
    min-height: 700px;
    position: relative;
    .container {
        .capable-lists {
            height: 100%;
            margin-top: 3%;
            margin-left: 6%;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: space-between;
            .capable-item {
                color: #fff;
                font-size: 32px;
                height: 25%;
            }
        }
    }
}

#links {
    background-color: #e3f5ff;
    width: 100%;
    height: 700px;
    position: relative;
    .container {
        .title {
            color: #061a26;
        }
        ul {
            margin-left: 6%;
            margin-top: 3%;
            height: 90%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            li {
                transform: scale(1);
                transition: all .3s;
                a {
                    color: #061a26;
                    text-decoration: none;
                    font-size: 48px;
                    letter-spacing: 1px;
                    font-weight: 100;
                }
                &:hover {
                    a {
                        color: #29aeff;
                    }
                    transform: scale(0.9);
                }
            }
        }
    }
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #061a26;
    .copy-right {
        font-size: 24px;
        letter-spacing: 3px;
        line-height: 100px;
        color: #fff;
        
    }
}

@media screen and (max-width: 800px) {
	#name-view {
        background-color: #28003a;
        #particles-js {
            .container {
                h1 {
                    font-size: 18vw;
                }
                h2 {
                    font-size: 14vw;
                }
            }
        }
    }
}